.about-author__title {
  /* font-family: ; */
  font-size: 34px;
  line-height: 42px;
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .about-author__title {
    margin-top: 81px;
  }
}
