.info__name {
    margin: 0;
    font-family: Gilroy-Bold;
    font-size: 47px;
    line-height: 59px;
    
}

@media screen and (min-width: 320px) and  (max-width: 375px) {
    .info__name {
      margin-bottom: 23px;
    }
  }