.footer__text {
  margin: 45px auto 123px auto;
  /* font-family: ; */
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .footer__text {
    margin: 45px auto 90px auto;
  }
}