.info__about {
  margin: auto auto 10px;
  /* font-family: ; */
  font-size: 18px;
  line-height: 22px;
  
}

@media screen and (min-width: 320px) and  (max-width: 375px) {
  .info__about {
    /* text-align: center; */
  }
}
