.menu__item {
  font-family: Gilroy-Bold;
  text-decoration: none;
  transition: 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .menu__item {
    padding-bottom: 30px;
    font-size: 25px;
  }
}
